node_modules/
client/node_modules/
server/node_modules/
server/uploads/*
!server/uploads/.gitkeep
server/previews/*
!server/previews/.gitkeep
server/.env
.env
.logs/
server/edit-copies/*
server/data/*.sqlite
server/data/*.sqlite-shm
server/data/*.sqlite-wal
